h1{
    color: red;
    text-align: center;
    background-color: azure;
    text-shadow: 5px 5px 10px yellow;
  
}
h2{
    color: rgb(219, 194, 241);
    text-align: center;
    text-shadow: 5px 5px 10px green;
}
h3{
    color: blue;
    
}
body{
    background-color: rgb(235, 215, 235);
}
label{
    color: grey;
}
input{
    background-color: yellow;
}
img{
    display: block;
    margin: 0px auto;
   }